@model PizzaBox.Client.Models.OrderViewModel
<fieldset>
    <legend>Pick A Store</legend>

    @Html.ValidationMessageFor(m => m.SelectedCrust)

    @foreach (var item in Model.Crusts)
    {
      <div class="form-check">
        <label class="form-check-label" for="@item">@item</label>
        <input class="form-check-input" type="radio" asp-for="SelectedCrust" value="@item">
        
      </div>
    }
</fieldset>

<a asp-controller="order">make an order</a>